body
{
  margin: 0;
  overflow-x: hidden;
}
.cont
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 2fr 4fr 10%;
    grid-template-columns: 100%;
    grid-template-areas: 
    'hd'
    'mn'
    'ft'
    'nv'
}

header
{
    background-color: rgb(38, 197, 237);
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
}

main
{
    background-color: wheat;
    grid-area: mn;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main p
{
  margin: 0;
}

footer
{
    grid-area: ft;
    background-color: wheat;
    display: flex;
    flex-direction: column;
}
.kvitto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.kvitto {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kvitto-header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #e6e6e6;
}

.kvitto-body {
  flex-grow: 1;
  padding: 20px;
  font-size: 16px;
  color: #666666;
}

.kvitto-body-img
{
  width: 100px;
}

.kvitto-footer {
  padding: 20px;
  font-size: 16px;
  color: #000000;
  border-top: 1px solid #e6e6e6;
}

.Totalsumma
{
  text-decoration: underline;
}

.green-btn {
  padding: 10px 20px;
  background-color: #2b9e2b;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

nav
{
    grid-area: nv;
    background-color: rgb(38, 197, 237);
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.pil
{
 width: 30px;
}

.texas
{
  align-self: baseline;
}

.casio
{
  align-self: baseline;
}

.logga
{
  width: 80vw;
}

a
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: black;
}

.varning
{
  height: 4vh;
  align-self: flex-end;
  margin: 0;
}

.other-btn {
  padding: 10px 20px;
  background-color: #2b9e2b;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  visibility: hidden;
}

.voice
{
  background-color: #2b9e2b;
  margin-top: 15px;
  width: 25vw;
  height: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .logga
  {
    width: 30vw;
  }
  .cont
  {
    grid-template-rows: 20% 1.5fr 4fr 5%;
  }
  nav
  {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .kvitto
  {
    width: 30vw;
  }
  .voice
  {
    height: 23px;
  }
}